<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated TFG_TrustOS_Traceability -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="TraceabilityMM.presentation.TraceabilityMMModelWizardID"
            name="%_UI_TraceabilityMMModelWizard_label"
            class="TraceabilityMM.presentation.TraceabilityMMModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TraceabilityMMModelFile.gif">
         <description>%_UI_TraceabilityMMModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated TFG_TrustOS_Traceability -->
      <editor
            id="TraceabilityMM.presentation.TraceabilityMMEditorID"
            name="%_UI_TraceabilityMMEditor_label"
            icon="icons/full/obj16/TraceabilityMMModelFile.gif"
            extensions="traceabilitymm"
            class="TraceabilityMM.presentation.TraceabilityMMEditor"
            contributorClass="TraceabilityMM.presentation.TraceabilityMMActionBarContributor">
      </editor>
   </extension>

</plugin>
